@import '../../../../lib/style/styleExporter'

#my-storage-main-container
    height: 100%
    overflow: hidden

    #my-storage-breadcrumb-container
        padding-top: 0.2rem
        padding-left: 0.8rem
        height: 10%
        display: flex
        .active
            color: $teal-500
        nav
            margin: auto 0
        ol
            margin: 0
        li:hover
            cursor: pointer
            text-decoration: underline

@include media-breakpoint-up(sm)
    #my-storage-main-container

        #my-storage-breadcrumb-container
       
           