@import '../../../../lib/style/styleExporter'

#my-storage-main-container
    height: 100%
    overflow: hidden
    position: relative

    .drag-and-drop-message
        display: none
        position: absolute
        pointer-events: none

    #my-storage-breadcrumb-container
        padding-top: 0.2rem
        padding-left: 0.8rem
        height: 10%
        display: flex
        
        .active
            color: $teal-500

        nav
            margin: auto 0
            overflow-x: auto
            scrollbar-width: thin

        ol
            flex-wrap: nowrap
            margin: 0
            li
                display: flex
                white-space: nowrap

        li:hover
            cursor: pointer
            text-decoration: underline

@include media-breakpoint-up(sm)
    #my-storage-main-container
        &.dragover
            .drag-and-drop-message
                border: 2px solid $teal-500
                display: flex
                width: 100%
                height: 100%
                top: 0%
                left: 0%
                backdrop-filter: blur(2px)
                
                h3
                    margin: auto
                    color: $teal-500