@import '../../../lib/style/styleExporter'

#app-main-container
    display: flex
    flex-direction: column
    flex: 1 0 auto
    background-color: var(--neutralSecondarySurface)

    &.hide-all-content > *
        display: none
