@import '../../lib/style/styleExporter'

.wrapper
    position: relative
    display: flex
    flex-direction: column
    overflow: hidden
    flex: 0 1 100%;

#storage-file-upload
    display: none
    appearance: none
    pointer-events: none

#storageFileOverviewContainer
    overflow: hidden;

#storageSideOptionsContainer
    display: flex
    justify-content: space-evenly
    padding: 0.5rem

    .dropdown
        width: 50%

#storageAddNewBtn
    display: flex
    justify-content: center
    align-items: center
    gap: 0.4rem
    text-transform: capitalize
    width: 100%
    height: fit-content
    border-radius: 0px
    border: none
    background: linear-gradient(to right, $teal-500, $teal-600, $teal-700, $blue-600, $blue-600);
    color: var(--white)
    font-weight: 700 !important

    i
        font-weight: 900 !important
        font-size: 1.4rem

#storageSideOptionsBtn
    width: 20%


@include media-breakpoint-up(lg)
    .wrapper
        flex-direction: row

    #storageAddNewBtn
        width: fit-content

    #storageSideOptionsBtn
        display: none
    
    #storageSideOptionsContainer
        flex: 1 1 auto
        min-width: fit-content
        display: flex
        flex-direction: column
        gap: 0.5rem

        .dropdown
            width: 100%

    #storageFileOverviewContainer
        width: 80%
        height: 100%