@import '../../../lib/style/styleExporter'

nav.navbar
    background-color: var(--neutralTertiarySurface) !important
    padding: 0

    li a,
    a,
    i
        color: var(--neutralDark) !important

    li a:hover,
    a:hover,
    a.active
        color: var(--color-prime) !important

.nav-link
    padding: 0.8rem 0.8rem
    width: fit-content
    color: var(--neutralDark) !important
    &:hover
        color: var(--color-prime) !important

#fileStormLogo
    width: 10rem
    height: auto

#navbar-user-container
    #logoutBtn
        padding: 1rem 0
        color: var(--color-error) !important
    .pipe
        display: none
    p
        margin: 0

@include media-breakpoint-up(lg)
    #navbarNav
        justify-content: space-between

        .pagesNav .nav-link
            padding-left: 1.2rem
            padding-right: 1.2rem

        // .userControlls
        //     flex-direction: row
        //     align-items: center
        //     justify-content: center

        //     .dropdown-center
        //         #userNameBtn
        //             padding: 0.5rem

        //         .dropdown-menu
        //             .nav-link
        //                 padding: 0.4rem 0.8rem

        //     .nav-auth
        //         padding: 0
        //         flex-direction: row

    #navbar-user-container
        display: flex
        align-items: center
        #logoutBtn
            padding: 0
        .pipe
            display: block
            padding: 0 0.5rem
            color: $teal-500
        p
            margin: 0
